.about {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
}
h1 {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
  text-align: center;
  color: #f27121;
}
.paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  margin: 30px;
  width: 908px;
  height: 139px;
  top: 680px;
  left: 266px;
  gap: 0px;
  opacity: 0px;
}
.paragraph-container {
  display: flex;
  justify-content: space-around;
  align-self: center;
  margin: 30px;
  height: 139px;
  top: 680px;
  left: 266px;
  gap: 0px;
  opacity: 0px;
}
.span {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
}
.ourproducts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.card1 {
  width: 584px;
  height: 530px;
  top: 963px;
  left: 120px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #cecece;
}
.image1 {
  width: 560px;
  height: 434px;
  margin-top: 12px;
  left: 12px;
  gap: 0px;
  opacity: 0px;
}
.card-name1 {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  align-items: center;
}
.headingname {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  color: black;
}
.card-button {
  width: Fixed (211px) px;
  height: Fixed (52px) px;
  top: 466px;
  left: 361px;
  gap: 4px;
  opacity: 0px;
  background: #fe0000;
  color: white;
  border: 0px;
  padding: 10px;
}
.card-container {
  display: flex;
  justify-content: space-around;
}
.lineimage {
  display: flex;
  align-self: center;
  margin-top: 30px;
}
